<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Aluno</title>
</head>
<body>
<h1>Aluno:</h1>
<table class="container">
    <thead>
    <tr>
        <th>Matricula:</th>
        <th>Nome:</th>
        <th>E-mail:</th>
        <th>Nota:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${student.registration}"></span></td>
        <td><span th:text="${student.name}"></span></td>
        <td><span th:text="${student.email}"></span></td>
        <td><span th:text="${student.socre}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>